TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_MESSAGING_SERVICE_SID=
POSTGRES_DB=etg
POSTGRES_USER=etg
POSTGRES_PASSWORD=change-me-16chars
RABBITMQ_USER=etg
RABBITMQ_PASSWORD=etg
MINIO_USER=minio
MINIO_PASSWORD=change-me-minio123
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=change-me-admin123
APP_PROFILE=local
